header {
  margin-top: 4rem;
  max-width: 80rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  & img[src*="Logo"] {
    width: 7.25rem;
    height: 4rem;
  }

  & #card-number {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 2rem;


    & > input {
      padding-inline: 1rem 0.75rem;
      width: 25rem;
      height: 3.5rem;

      font: var(--text-md);
      color: var(--base-gray-700);

      border: none;

      border-radius: 0.75rem;
      border: 1px solid var(--base-gray-400);

      position: relative;
      background-color: var(--base-gray-300);
    }

    & > input:focus-within, input:focus {
      color: var(--main-pink);
      border: 2px solid var(--main-pink);
    }
    
    & button {
      width: 2.50rem;
      height: 2.50rem;

      position: absolute;
      margin-left: 22.82rem;
      margin-right: 0.5rem;

      border: none;
      border-radius: 0.5rem;
      background-color: var(--base-gray-500);

      & svg {
        width: 1.25rem;
        height: 1.25rem;

        fill: var(--base-white);
      }
    }

    & .filled {
      color: var(--base-gray-700);
      font: 1rem/1.4 400 var(--ff-base);
    }
  }
}