header {
  max-width: 80rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  & img[src*="Logo"] {
    width: 7.25rem;
    height: 4rem;
  }

  & #input-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 2rem;

    &>input {
      padding-inline: 1rem 0.75rem;
      width: 25rem;
      height: 3.5rem;

      background-color: var(--base-gray-300);
      font: var(--text-md);
      color: var(--base-gray-700);

      border: 1px solid var(--base-gray-400);
      border-radius: 0.75rem;

      position: relative;
    }

    &>input:focus,
    input:focus-within {
      color: var(--main-pink);
      border: 2px solid var(--main-pink);
      font: var(--text-md);

      box-shadow: 0 0 0 0;
      outline: 0;
    }

    & button {
      width: 2.50rem;
      height: 2.50rem;

      cursor: pointer;

      position: absolute;
      margin-right: 0.5rem;

      border: none;
      border-radius: 0.5rem;
      background-color: var(--base-gray-500);

      & svg {
        width: 1.25rem;
        height: 1.25rem;

        & path {
          fill: var(--base-white);
        }
      }
    }

    & .filled:focus {
      color: var(--base-gray-700);
    }

    & .selected {
      background-color: var(--base-gray-700);
    }
  }
}