main {
  display: flex;
  align-items: start;
  justify-content: space-around;

  margin-top: 4rem;
  margin-inline: auto;

  & small {
    font: var(--text-xs);
    color: var(--base-gray-500); 
  }
}