section {
  color: var(--base-gray-500);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .general-stamp-box {
    display: flex;
    flex-direction: column;

    background-color: var(--base-white);
    width: 35.5rem;
    height: 20.812rem;
    border-radius: 0.625rem;

    & .text-wrapper-1 {
      padding-block: 2.25rem;
      display: flex;
      align-items: flex-start;
      gap: 3.06rem;

      & h3 {
        text-transform: uppercase;
        font: var(--subtitle-sm);
      }

      & p {
        font: var(--text-sm);
      }

      & .wrapper-right {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--base-gray-300);
        width: 9.312rem;
        height: 2rem;

        border-radius: 62.43rem;

        & h2 {
          font: var(--subtitle-md);
        }
      }
    }

    & .stamp-wrapper {
      margin: 0 auto;
      gap: 1rem;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      & .stamp-box {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.25rem;

        width: 5.5rem;
        height: 5.5rem;
        background-color: var(--base-gray-200);

        & img {
          width: 4rem;
          height: 4rem;
        }

        & svg path {
          fill: var(--base-gray-500);
        }
      }

    }
  }

  & .gift-box {
    background-color: var(--base-white);
    width: 35.5rem;
    height: 7.312rem;
    border-radius: 0.625rem;

    display: flex;
    align-items: center;
    
    & .left-wrapper {
      display: flex;
      flex-direction: column;

      gap: 0.75rem;
    }

    & .text-wrapper {
      display: flex;
      align-items: first baseline;
      margin-left: 0;
      gap: 0.25rem;

      & span {
        font: var(--title-md);
      }
    }

    & .loader-wrapper {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      & .loader-bar {
        width: 21.937rem;
        height: 0.5rem;
        background-color: var(--base-gray-300);
        border-radius: 62.435rem;

        position: relative;

        &::before {
          content: "";
          width: 70%;
          height: inherit;
          border-radius: inherit;

          background: linear-gradient(90deg,
              #2DAA6E 0%,
              #2DAAAA 33.33%,
              #856CCF 66.67%,
              #D658B3 100%);

          position: absolute;
        }
      }
    }

    & .right-wrapper {
      width: 4.5rem;
      height: 4.5rem;
      background-color: var(--base-gray-200);
      border-radius: 50%;
      display: flex;
      justify-content: center;

      img {
        margin-top: 0.625rem;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
      }
    }

    
  }


}